body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 110vh;
}
html{
  scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
}
.logo{
    height: 30px;
    width: 30px;
    margin-right: 500px;
    z-index: 1;
}

.menu-item{
    height: 30px;
    width: 90px;
   padding-top: 10px;
   text-align: center;
   gap: 15px;
}
#logo-text{
  color: blue;
  font-size: 50px;
  padding-top: 20px;
}

.home-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-item{
width: 50%;
display: flex;
height: 100%;
padding: 0px;
margin: 0px;
justify-content: center;
align-items: center;
font-size: 50px;
flex-direction: column;
}
span{
    color: green;
}
.home-item:hover{
  transition: all 4s;
  background-image: linear-gradient(#e6ebf0, #0070C9);

}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.footer-info{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-shop {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-shop:disabled {
    cursor: default;
    opacity: .3;
  }
  
  .button-shop:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  .button-shop:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
  }
  
  .button-shop:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
  }
  
.f-info{
  height: 60%;
  width: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 5px;
}

.f-info:hover{
  transition: all 2s;
  background-color: black;
  color: white;
  text-transform: uppercase;

}


.button-home {
  background-image: linear-gradient(#abbac5, #7391a9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-home:disabled {
  cursor: default;
  opacity: .3;
}

.button-home:hover {
  background-image: linear-gradient(#96acbd, #7a9db9);
  border-color: #1482D0;
  text-decoration: none;
}

.button-home:active {
  background-image: linear-gradient(#93a7b7, #92adc2);
  border-color: #006DBC;
  outline: none;
}

.title{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.home-item-1{
  width: 50%;
  display: flex;
  height: 100%;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  flex-direction: column;
  }
  .home-item-2{
    width: 50%;
    display: flex;
    height: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-direction: column;
  }

  .home-img{
    height: 100%;
    width: 100%;
    position: relative;
    top: 50px;
  }
  .img-text{
    text-transform: uppercase;
    position: relative;
    bottom: 250px;
  }
  .home-img:hover{
    filter: blur(4px);
  }
  .home-item-1:hover{
    color: white;
  }

  .home-item-2:hover{
    color: white;
  }

  #title-text{
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  
  #Form{
    background-color: transparent;
    height: 70%;
    width: 30%;
    border-radius: 7%;
 }
 #Form:hover{
   -webkit-box-shadow:0px 0px 168px 39px rgba(45,255,196,0.9);
 -moz-box-shadow: 0px 0px 168px 39px rgba(45,255,196,0.9);
 box-shadow: 0px 0px 168px 39px rgba(45,255,196,0.9);
 }
 
 #input{
 margin: 10px;
 text-align: center;
 height: 90%;
 margin-top: 8%;
 padding-top: 50px;
 }
   form.example::after {
     content: "";
     clear: both;
     display: table;
   }
   .page{
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .title-1{
     font-size: 72px;
   background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: rgba(0,85,255,0.9) 0px 0px 22px;
   }
   #myVideo {
       position: fixed;
       right: 0;
       bottom: 0;
       min-width: 100%;
       min-height: 100%;
       z-index: 0;
     }
     
     .label{
       color: white;
     }
     
     #about-container{
      display: flex;
      height: 50vh;
      width: 100%;
      justify-content:start;
      align-items: center;
      background-color: #7a9db9;
      animation: border 5s normal linear infinite;
      transition: all 20s;
     }

     #name-container{
      display: flex;
      width: 100%;
      height: 40vh;
      justify-content: center;
      gap: 6%;
      align-items: center;
     }

     .name{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:black;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      color: white;
      -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
     }
     
     @keyframes rotate {
      0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        background-color: #7a9db9;
      }
      25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
        background-color: #7391a9;
      }
      50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
        background-color: #51A9EE;
      }
      75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
        background-color:#42A1EC
      }
      100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
        background-color: #3D94D9;
      }
    }
    .name:hover{
      -webkit-animation: 0;
    }

    @keyframes border{
      0% {
        border: 1px solid black;
      }
      25% {
        border: 1px solid rgb(50, 40, 40);
      }
      50% {
        border: 1px solid rgb(109, 67, 67);
      }
      75% {
        border: 1px solid rgb(154, 68, 68);
      }
      100% {
        border: 1px solid rgb(223, 57, 57);
      }
    }

    .contact-container{
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 200px;

    }

    .contact:hover{
      transform: scale(1.1);
      filter: drop-shadow(30px 10px 4px #4444dd);
    }

    a:link {
      text-decoration: none;
    }